:root{
    --main-background: #FFFFFF;
    --navigation-color: #FF7A00;
    --search-background: #F2F0F3;
    --search-text: #8A8A8A;
    --description-text: #7A6F63;
    --black-color: #000;
    --little-fontsize: 0.87rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-background);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    /* padding-bottom: 0.6rem; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.logo{
    width: 5rem;
    height: 1.75rem;
    cursor: pointer;
    margin-left: 0;
}

.search-box{
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--search-background);
    color: var(--search-text);
    border-radius: 0.5rem;
    padding: 0.4rem 0.75rem;
    width: 18.75rem;
    /* max-width: 40%;    */
    width: 15rem;
}

.search-input{
    border: none;
    outline: none;
    background-color: var(--search-background);
    color: var(--search-text);
    width: 100%;
    font-size: var(--little-fontsize)
}

.search-logo{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

/* переделать под калк */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav-icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    opacity: 0.8rem;
}

.sort-section{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-wrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.sort-logo{
  width: 1.5rem;
  height: 1.5rem;
}

.sort-label{
  font-size: 0.9rem;
}

.promo-line{
    background-color: var(--navigation-color);
    color: var(--main-background);
    padding: clamp(0.25rem, 1vw, 1rem);
    text-align: center;
    font-size: clamp(0.5rem, 0.87rem, 1rem);
}

.h1-sort{
  font-size: clamp(1rem,1.5rem,2rem);
}

.promo-line ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1rem, 5vw, 10rem);
    padding: 0;
    margin: 0;
    list-style: none;
}

.promo-line li {
    font-size: clamp(0.75rem, 2vw, 1rem);
}


.products-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.image-card {
    flex: 1 1 calc((100% - 2rem * 2) / 3);
    max-width: 19.375rem;
    display: flex;
    flex-direction: column;
}



/* .products-section {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  padding-top: 1.25rem;
  justify-content: space-between;
}

.image-card {
  width: 19.375rem;
  height: 25rem;
  gap: 0.625rem;
} */

.image-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.text-imagecard{
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.item {
    font-weight: 700;
    font-size: clamp(0.7rem, 2vw, 1rem);
}

.price {
    font-size: clamp(0.7rem, 2vw, 1rem);
}


.description,
.color {
  font-size: clamp(0.2rem, 3vw, 0.8rem);
  color: var(--description-text);
}

.main-footer{
  width: 100vw;
  margin-left: calc(-1 * 2.5rem);
  margin-right: calc(-1 * 2.5rem);
  background-color: var(--navigation-color);
  color: var(--main-background);
  padding: 1rem 2.5rem;
  text-align: left;
  font-size: 0.8rem;
}

.main-footer a{
    text-decoration: none;
    color: var(--main-background);
}

.main-footer p{
  font-weight: bold;
}

@media screen {
  body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-background);
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.5rem;
    }
    nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0rem;
}

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .logo{
      width: 3.3rem;
      height: 1.16rem;
      cursor: pointer;
      margin-left: 0;
  }

  .search-box{
      display: flex;
      align-items: center;
      position: relative;
      background-color: var(--search-background);
      color: var(--search-text);
      border-radius: 0.5rem;
      padding: 0.4rem 0.75rem;
      width: 18.75rem;
      /* max-width: 40%;    */
      width: 13rem;
  }

  .search-input{
      border: none;
      outline: none;
      background-color: var(--search-background);
      color: var(--search-text);
      width: 100%;
      font-size: var(--little-fontsize)
  }

  .search-logo{
      width: 1.0rem;
      height: 1.0rem;
      margin-right: 1rem;
  }

  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .nav-icon{
      width: 0.5rem;
      height: 0.5rem;
      cursor: pointer;
      opacity: 0.8rem;
  }
  .main-footer{
    width: 100vw;
    margin-left: calc(-1 * 1rem);
    margin-right: calc(-1 * 1rem);
    background-color: var(--navigation-color);
    color: var(--main-background);
    padding: 1rem 2.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
}
.burger {
    display: none;
}
.burger-item {
  width: 20px;
  height: 2px;
  background-color: var(--black-color);
  margin: 3px 0;
}

@media (max-width: 780px) {
  .nav-right {
    display: none;
  }
  .burger {
    display: block;
  }
}