:root{
    --main-color: #F5F1E8;
    --main-text-color: #5D5045;
    --main-font: 1rem;
    --second-text-color: #7A6F63;
    --border-bottom-color: #E5E5E5;
    --shadow-box: #0000001A;
    --welcome-section: #FFE8E8;
    --popular-section: #F8F6F1;
    --facts-section: #FFD6D6;
    --container-color: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*всегда сброс, reset.css (before styles.css)*/
}

body {
    overflow-x: hidden;
    font-size: var(--main-font);
    font-family: 'Inter', sans-serif;
}

header{
    background-color: var(--main-color);
    font-size: clamp(0.7rem, 0.8rem, 0.9rem);
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    border-bottom: 0.06rem solid var(--border-bottom-color);
    height: 5.06rem;
    align-items: center;
}

h2, h1, p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

title{
    text-align: center;
    color: var(--main-text-color);
    font-size: clamp(0.9rem, 1rem, 1.1rem);
}

footer{
    background-color: var(--main-color);
    border-top: 0.06rem solid var(--border-bottom-color);
    height: 5.06rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-logo{
    width: 1.88rem;
    height: 1.88rem;
}

.container{
    display: flex;
    justify-content: center;
    gap: 0.6rem;
    flex-wrap: wrap;
    padding: 1.25rem;
}

.image-card{
    overflow: hidden;
    background: var(--container-color);
    width: 16.4rem;
    height: 22.4rem;
    box-shadow: 0 0.125rem 0.25rem -0.125rem var(--shadow-box), 0 0.25rem 0.375rem -0.0625rem var(--shadow-box);
    border-radius: 1rem;
}

.image-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item{
    text-align: center;
    color: var(--main-text-color);
    font-size: clamp(1.02rem, 1.06rem, 1.1rem);
    padding: 0.62rem;
}

.lead-title{
    text-align: center;
    font-size: clamp(1.14rem, 1.16rem, 1.18rem);
    color: var(--main-text-color);
    margin-top: 1.5rem;
}

.welcome-section{
    padding: 0.3125rem 0;
    background-color: var(--welcome-section);
}

.welcome-container{
    max-width: 50rem;
    width: 100%;
    padding: 0 1.25rem;
    text-align: center;
    margin: 0 auto;
}

.welcome-text{
    margin: 1.25rem 0;
    color: var(--second-text-color);
    font-size: clamp(0.9rem, 1rem, 1.1rem);
    text-align: center;
    vertical-align: middle;
}

.centered-img{
    display: block;
    margin: 1.25rem auto;
    max-width: 670px;
    width: calc(100vw - 80px);
}

.popular-section{
    background-color: var(--popular-section);
    padding: 2.5rem 0;
}

.popular-title{
    font-size: clamp(0.7rem, 0.9rem, 1.1rem);
    color: var(--main-text-color);
}

/* .facts-section{
    background-color: var(--facts-section);
    padding: 3.125rem;
} */

.facts-section {
    background-color: var(--facts-section);
    padding: 2rem 1rem;
}

.facts-title{
    font-size: clamp(0.9rem, 1.0rem, 1.1rem);
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.facts-container{
    overflow: hidden;
    background: var(--container-color);
    width: 100%;
    max-width: 54rem;
    height: auto;
    box-shadow: 0 0.125rem 0.25rem -0.125rem var(--shadow-box), 0 0.25rem 0.375rem -0.0625rem var(--shadow-box);
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.facts-list{
    margin: 0;
    padding: 0;
}

.facts-list li{ 
    display: flex;
    margin-bottom: 1rem;
    color: var(--main-text-color);
    font-size: clamp(0.7rem, 0.9rem, 1.2rem);
    line-height: 1.5rem;
    letter-spacing: 0%;
    vertical-align: middle;
}

.facts-list li::before{
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.625rem;
    background-image: url('./resources/SVG-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-footer{
    color: var(--second-text-color);
    font-size: clamp(0.72rem, 0.92rem, 1.5rem);
    vertical-align: middle;
    text-decoration: none;
    line-height: 1.5rem;
    letter-spacing: 0%;
}

.main-footer a{
    text-decoration: none;
    color: var(--second-text-color);
}

.footer-logo{
    width: 1rem;
    height: 1rem;
}

/* @media screen and (max-width: 768px){
    .facts-container{
        width: 100%;
    }
} */
